body {
	background-color: lightgrey;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

p.image {
	text-align: center;
}

tr {
	text-align: center;
	font-style: italic;
	background-color: #7f8000;
}

td:hover {
	background-color: #ffff33;
}

td {
	border: 5px solid black;
	padding: 5px;
}

tr#title {
	font-style: normal;
	text-align: center;
	font-weight: bold;
	font-size: 150%;
	background-color: #ffff33;
}


table {
	border-spacing: 0px;
	width: 100%;
}
